TestNG.dtd

<!ELEMENT suite (listener,test)>
<!ATTLIST suite name NMTOKEN #REQUIRED>
<!ELEMENT listener (#PCDATA)>
<!ATTLIST listener class-name NMTOKEN #REQUIRED>
<!ELEMENT test (parameter)>
<!ATTLIST test name CDATA #REQUIRED>
<!ELEMENT parameter (classes)>
<!ATTLIST parameter name NMTOKEN #REQUIRED>
<!ATTLIST parameter value NMTOKEN #REQUIRED>
<!ELEMENT classes (class)>
<!ELEMENT class EMPTY>
<!ATTLIST class name NMTOKEN #REQUIRED>